/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml

/web/assets/.idea
/web/assets/e2e
/web/assets/node_modules
/web/bundles/sensiodistribution
