{% extends 'base.html.twig' %}

{% block body %}
{#    <a class="btn btn-block btn-primary" href="{{ path('contato_index') }}">Voltar a lista</a>#}

    <h1>Novo Contato</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-block btn-success" value="Criar" />
    {{ form_end(form) }}
{% endblock %}
