<style>
    #aviso{
        background: #333;
        color: white;
        padding: 13px;
        font-weight: bold;
        font-family: sans-serif;
        margin-top: 28px;
        margin-bottom: 60px;
    }
    #aviso > div > img{
        transform: translateY(-40px);
        position: absolute;
    }
</style>

<div id="aviso" class="row">
    <div class="col-sm-4">
        <img width="100" src="{{ asset('/bundles/framework/images/angular_logo.png') }}" />
    </div>
    <div class="col-sm-4 text-center">Esta página possui ANGULAR</div>
    <div class="col-sm-4"></div>

</div>
